{% extends "recommendation/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      <legen class="border-bottom mb-4">Edytuj</legen>
        <div class="row">
            <div class="col-4">{{ u_form.username|as_crispy_field }}</div>
            <div class="col-4">{{ u_form.email|as_crispy_field }}</div>
        </div>
        <div class="row">
            <div class="col-4">{{ p_form.image|as_crispy_field }}</div>
        </div>
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-danger" type="submit">Update</button>
    </div>
  </form>
{% endblock content %}
